body {
	margin: 0px;
	overflow: hidden;
	background: #000;
}
#webglviewer {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
#console {
	position: absolute;
	left: 50%;
	width: 200px;
	z-index: 9999;
}

#guiDat{
	position: fixed;
	top: 0;
	left:0;
	z-index: 9999;

}

.main{
	position: absolute;
	top:0;
	z-index:999;
}
